﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EmployeeDeActive.aspx.cs" Inherits="EmployeeDeActive" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Employee De-Active Days</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblmsg" runat="server" Text=""></asp:Label>
    </div>
    </form>
</body>
</html>
